.start {
  padding-top: 20px; }
  .start-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
  .start-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .start-menu_ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .start-menu_ul-link {
        margin-right: 53px;
        font-size: 14px;
        font-weight: 400;
        text-transform: uppercase; }
        .start-menu_ul-link:last-child {
          margin-right: 0; }
