.makes{
    padding-top: 120px;
    padding-bottom: 120px;
    background-color: #f9f9f9;
    text-align: center;
    &-header{
        @include header-black();
    }
    &-desc{
        max-width: 629px;
        margin: auto;
        color: #333;
        font-size: 15px;
        font-weight: 400;
        line-height: 27px;
    }
    &-blocks{
        padding-top: 80px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &-block{
        margin: auto;
        padding-top: 30px;
        min-height: 270px;
        border-right: 1px dotted $main-color;
        padding-right: 25px;
        &:last-child{
            border: none;
        }
        &_img{
            i{
                font-size: 60px;
                background-image: linear-gradient(45deg, #31aae2 0%, #9d35c0 100%);
                background-clip: text;
                -webkit-text-fill-color: transparent; 
                display: initial; 
            }
        }
        &_header{
            padding-top: 30px;
            color: #333;
            font-size: 18px;
            font-weight: 600;
            line-height: 25px;
            text-transform: uppercase;
        }
        &_desc{
            padding-top: 24px;
            max-width: 252px;
            color: #333;
            font-size: 15px;
            font-weight: 400;
            line-height: 27px;
        }
    }
}

@media (max-width: 1157px){
    .makes-block{
        border: none;
        padding-right: 0;
    }
}